nodered/vbng-flows.json
[{"id":"651a89bd.97d608","type":"tab","label":"ContainerMgmt"},{"id":"1601208c.bf7fff","type":"init-container","z":"651a89bd.97d608","Name":"copy-template","Hostname":"","Template":"","x":399.5,"y":88,"wires":[["2d39e608.dfe762"]]},{"id":"b477a6e5.b514a","type":"http in","z":"651a89bd.97d608","name":"","url":"/setupvbng","method":"post","swaggerDoc":"","x":111.5,"y":58,"wires":[["1601208c.bf7fff"]]},{"id":"c295cef1.2b714","type":"http response","z":"651a89bd.97d608","name":"[200 OK] /setupvbng ","x":1027.5,"y":165,"wires":[]},{"id":"ceb85b6.b093a28","type":"inject","z":"651a89bd.97d608","name":"Inject vbng","topic":"","payload":"{\"Hostname\":\"vbng-04\",\"Template\":\"bng-template-v2\",\"SrIovInterface\":\"p1p1_2\",\"SouthIpSubnet\":\"10.20.1.4/24\",\"SouthGateway\":\"10.20.1.1\",\"VxlanLoopback\":\"10.50.1.4\",\"VxlanVni\":\"5004\",\"VxlanEndpoint\":\"10.50.1.1\",\"HostedGateway\":\"20.20.0.1\",\"NorthIpSubnet\":\"10.30.1.4/24\",\"NorthGateway\":\"10.30.1.1\",\"PoliceRate\":\"4000mbit\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":108,"y":128,"wires":[["1601208c.bf7fff"]]},{"id":"67627763.84152","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"true","complete":"payload","x":996,"y":228,"wires":[]},{"id":"2d39e608.dfe762","type":"assign-interface","z":"651a89bd.97d608","Name":"","Hostname":"","x":600.5,"y":88,"wires":[["94b90e26.1a219"]]},{"id":"dd6e0e90.5ed35","type":"setup-vbng","z":"651a89bd.97d608","Name":"","Hostname":"","VxlanVni":"","VxlanEndpoint":"","HostedGateway":"","PoliceRate":"","x":765.5,"y":194,"wires":[["c295cef1.2b714","67627763.84152"]]},{"id":"da634582.fe558","type":"catch","z":"651a89bd.97d608","name":"","scope":null,"x":94.5,"y":1194,"wires":[["683b59e8.b41288"]]},{"id":"88785feb.d854e8","type":"http response","z":"651a89bd.97d608","name":"[500 Error] /setupvbng","x":562.5,"y":1195,"wires":[]},{"id":"f7e24636.63cef8","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":1255,"wires":[]},{"id":"683b59e8.b41288","type":"function","z":"651a89bd.97d608","name":"SetHttp500","func":"msg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":300.5,"y":1194,"wires":[["88785feb.d854e8","f7e24636.63cef8"]]},{"id":"94b90e26.1a219","type":"container","z":"651a89bd.97d608","Name":"start-container","Hostname":"","Action":"start","x":578.5,"y":193,"wires":[["dd6e0e90.5ed35"]]},{"id":"ad206510.38e3b","type":"container","z":"651a89bd.97d608","Name":"stop-container","Hostname":"","Action":"stop","x":611.5,"y":992,"wires":[["290a5db3.ca5dc2"]]},{"id":"290a5db3.ca5dc2","type":"container","z":"651a89bd.97d608","Name":"destroy-container","Hostname":"","Action":"destroy","x":845.5,"y":991,"wires":[["2b6b94d.53a3f6c","bc2a7a2.a094088"]]},{"id":"2b6b94d.53a3f6c","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"false","complete":"false","x":1050.5,"y":1042,"wires":[]},{"id":"629ce64b.4a0c4","type":"host","z":"651a89bd.97d608","Name":"list-containers","Action":"list-containers","x":369.5,"y":364,"wires":[["8ff2288e.ae1e38","9a650ed5.81c4b"]]},{"id":"63eb9856.226fc8","type":"inject","z":"651a89bd.97d608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.5,"y":391,"wires":[["629ce64b.4a0c4"]]},{"id":"9a650ed5.81c4b","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"true","complete":"payload","x":575.5,"y":439,"wires":[]},{"id":"67621c2a.6cc55c","type":"http in","z":"651a89bd.97d608","name":"","url":"/listcontainers","method":"get","swaggerDoc":"","x":121.5,"y":331,"wires":[["629ce64b.4a0c4"]]},{"id":"20ab99c8.26eae6","type":"http response","z":"651a89bd.97d608","name":"[200 OK] /listcontainers","x":819.5,"y":340,"wires":[]},{"id":"8ff2288e.ae1e38","type":"template","z":"651a89bd.97d608","name":"prettyprint","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' type='text/css' media='all' />\n<script type='text/javascript' src=\"https://code.jquery.com/jquery-1.12.3.js\"></script>\n<script type='text/javascript' src=\"https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js\"></script>\n\n<script type='text/javascript'>\n$(document).ready(function() {\n    $('#mytable').DataTable();\n});\n</script>\n\n</head>\n<body>\n<div style=\"width:600px; float:left\">\n    <table id=\"mytable\" class=\"display\" cellspacing=\"0\">\n        <thead>\n            <tr>\n                <th>Hostname</th>\n                <th>Status</th>\n            </tr>\n        </thead>\n        <tbody>\n        {{#payload}}\n        <tr>\n            <td>{{Hostname}}</td>\n            <td>{{Status}}</td>\n        </tr>\n        {{/payload}}\n        </tbody>\n    </table>\n</div>   \n</body>\n</html>","x":579.5,"y":364,"wires":[["20ab99c8.26eae6"]]},{"id":"22fe28a9.a9b868","type":"http in","z":"651a89bd.97d608","name":"","url":"/removevbng","method":"delete","swaggerDoc":"","x":127.5,"y":952,"wires":[["d693569f.dee9e8"]]},{"id":"bc2a7a2.a094088","type":"http response","z":"651a89bd.97d608","name":"[200 OK] /removevbng","x":1083.5,"y":942,"wires":[]},{"id":"d693569f.dee9e8","type":"destroy-vbng","z":"651a89bd.97d608","Name":"","Hostname":"vbng-00","IpSubnet":"10.20.1.50/24","VxlanVni":"5050","VxlanEndpoint":"10.20.1.253","HostedGateway":"20.20.0.1","Route":"2.2.0.0/16","NextHop":"10.20.1.100","PoliceRate":"500mbit","x":395.5,"y":992,"wires":[["ad206510.38e3b"]]},{"id":"25e78ba.e5cb0f4","type":"inject","z":"651a89bd.97d608","name":"Inject vbng-02","topic":"","payload":"{ \"Hostname\":\"vbng-02\",\"Template\":\"bng-template-v2\",\"Interface\":\"p1p1_1\",\"IpSubnet\":\"10.20.1.2/24\",\"VxlanVni\":\"5002\",\"VxlanEndpoint\":\"10.50.1.1\",\"HostedGateway\":\"20.20.0.1\",\"Route\":\"2.2.0.0/16\",\"NextHop\":\"10.40.1.1\",\"PoliceRate\":\"2000mbit\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":138,"y":1047,"wires":[["d693569f.dee9e8"]]},{"id":"3af3b051.431ef","type":"container","z":"651a89bd.97d608","Name":"start-container","Hostname":"","Action":"start","x":358,"y":574,"wires":[["c42ef33d.48a61"]]},{"id":"53300c4a.633414","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"false","complete":"false","x":765,"y":610,"wires":[]},{"id":"141fe764.39e699","type":"http in","z":"651a89bd.97d608","name":"","url":"/startvbng","method":"post","swaggerDoc":"","x":103,"y":540,"wires":[["3af3b051.431ef"]]},{"id":"c62769c3.36a07","type":"http response","z":"651a89bd.97d608","name":"[200 OK] /startvbng","x":787,"y":527,"wires":[]},{"id":"7d152499.c6d994","type":"inject","z":"651a89bd.97d608","name":"Inject vbng","topic":"","payload":"{\"Hostname\":\"vbng-04\",\"Template\":\"bng-template-v2\",\"SrIovInterface\":\"p1p1_2\",\"SouthIpSubnet\":\"10.20.1.4/24\",\"SouthGateway\":\"10.20.1.1\",\"VxlanLoopback\":\"10.50.1.4\",\"VxlanVni\":\"5004\",\"VxlanEndpoint\":\"10.50.1.1\",\"HostedGateway\":\"20.20.0.1\",\"NorthIpSubnet\":\"10.30.1.4/24\",\"NorthGateway\":\"10.30.1.1\",\"PoliceRate\":\"4000mbit\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":99.5,"y":615,"wires":[["3af3b051.431ef"]]},{"id":"bf38f12c.680e4","type":"container","z":"651a89bd.97d608","Name":"stop-container","Hostname":"","Action":"stop","x":364,"y":759,"wires":[["b899b06c.8a366","1191d9f9.ebac6e"]]},{"id":"1191d9f9.ebac6e","type":"debug","z":"651a89bd.97d608","name":"","active":true,"console":"false","complete":"false","x":588,"y":802,"wires":[]},{"id":"bc2a043b.4efc3","type":"http in","z":"651a89bd.97d608","name":"","url":"/stopvbng","method":"post","swaggerDoc":"","x":109,"y":725,"wires":[["bf38f12c.680e4"]]},{"id":"b899b06c.8a366","type":"http response","z":"651a89bd.97d608","name":"[200 OK] /stopvbng","x":610,"y":719,"wires":[]},{"id":"d11521fc.d48ec8","type":"inject","z":"651a89bd.97d608","name":"Inject vbng","topic":"","payload":"{\"Hostname\":\"vbng-04\",\"Template\":\"bng-template-v2\",\"SrIovInterface\":\"p1p1_2\",\"SouthIpSubnet\":\"10.20.1.4/24\",\"SouthGateway\":\"10.20.1.1\",\"VxlanLoopback\":\"10.50.1.4\",\"VxlanVni\":\"5004\",\"VxlanEndpoint\":\"10.50.1.1\",\"HostedGateway\":\"20.20.0.1\",\"NorthIpSubnet\":\"10.30.1.4/24\",\"NorthGateway\":\"10.30.1.1\",\"PoliceRate\":\"4000mbit\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":105.5,"y":800,"wires":[["bf38f12c.680e4"]]},{"id":"c42ef33d.48a61","type":"setup-vbng","z":"651a89bd.97d608","Name":"","Hostname":"","VxlanVni":"","VxlanEndpoint":"","HostedGateway":"","PoliceRate":"","x":562,"y":574,"wires":[["53300c4a.633414","c62769c3.36a07"]]}]